{% extends 'main.html' %}
{% block content %}

<p>Hello you are on the {{page}} page</p>



<h1>Projects</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Project</th>
        <th>Positive Votes</th>
        <th>Votes</th>
        <th></th>
        <th></th>
    </tr>
    {% for project in projects %}
        <tr>
            {% comment %} <td>{{project.id}}</td> {% endcomment %}
            <td>{{project.title}}</td>
            <td>{{project.vote_ratio}}%</td>
            <td>{{project.vote_total}}</td>
            <td>{{project.created}}</td>
            <td><a href="{% url 'update-project' project.id %}">Edit</a></td>
            <td><a href="{% url 'delete-project' project.id %}">Delete</a></td>
            <td><a href="{% url 'project' project.id %}">View</a></td>
        </tr>
    {% endfor %}

</table>

{% comment %} <ul>
    {% for project in projects %}
    <li>Title:<a href="{% url 'project' project.id %}">{{project.title}}</a>----{{project.created}}</li>
    {% endfor %}
</ul> {% endcomment %}

{% endblock content %}

