*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    background-color: #2874f0;
  }
.flex-container > div {
    background-color:#2874f0 ;
    margin: 3px;
    padding: 2px;
    font-size: 30px;
    text-indent: 30px;
   
}


.row-2{
    text-align:center;
    font-size:11px;
    background-color: whitesmoke;
    width:100%;
    display:flex;
    column-gap:55px;
    padding-top:1px;
    padding-bottom: 25px;
    box-shadow: 1px 1px #CCC;
    
    border-radius: 3px;

}

.fa-search{
    position:absolute;
    top:10px;
    left:50%;
    width:1px;
    height:-3px !important;
    font-size:18px;
    /*transform: scale(1,1);*/
    color:#2874f0;


}


.card{
   
    box-shadow:rgb(177,174,174) 0px 0px 5px 1px;
    width:100%;
    height:320px;
    text-align: center;
}
 .common-heading{
     display:flex;
     justify-content: space-between;
     width:100%;
     padding:5px 20px;
     margin-top:20px;
     box-shadow: 0 1px 1px 0 rgb(0 0 0 /16%);

 }
 .common-heading-left{
     font-size:20px;
     font-weight:bold;
     padding:auto;
 }
 .common-heading-right button{
     width:90px;
     height:40px;
     font-size:18px;
     background-color: #2874f0;
     border:none;
     color:white;
     border-radius:2px;
 }
 .common-row{
     display:flex;
     justify-content:space-evenly;
     width:100%;
     min-height:366px;
     margin:10px 0px; 
 }
 .common-col{
     width:63px;
     height:150px;
     text-align:left;
 }
 .advertisement{
     float:right;
     box-sizing: border-box;
 }

